

<app-divider>
    placeholder component
</app-divider>
<app-placeholder [lines]="3" [headers]="true"></app-placeholder>

<app-divider>
Segment component
</app-divider>
<app-segment>
    <header>
         <i class="pdf fileoutline icon"></i>
    No document are listed for this customer
    </header>
    <button class="ui primary button">
        Add document
        </button>
</app-segment>
<app-segment>
    <header>
         <i class="add icon"></i>
         Add the resource
    </header>
    <button class="ui primary button">
    Click to Add
        </button>
</app-segment>
