
<div (click)="closewindow()" class="ui dimmer visible active">
    <div (click)="$event.stopPropagation()" class="ui modal visible active">
 <i  (click)="closewindow()" class="close icon"></i>
    <div class="header">
        <ng-content select="[modeltitle]"></ng-content>
    </div>
<div class="content">
   <ng-content></ng-content>
</div>
<div class="actions actions-default">
    <button  (click)="closewindow()" class="ui button">ok</button>
</div>
<div class="actions">
    <ng-content select="[modelfooter]"></ng-content>
</div>
  </div> 
</div>